.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt

# we need only "deck" directory.
custom.cdb
ikpMP3.dll
replay
strings.conf
Yu-Gi-Oh!.ico
irrKlang.dll
script
system.conf
Yu-Gi-Oh-Deck-Recipes
gframe.exe   lflist.conf
server.log
textures
cards.cdb
ikpFlac.dll
pics
single
gframe.exe
lflist.conf